aside.logo {
    background-color: var(--bg-dark);
    display: flex;
    align-items: center;
    justify-content: center;
}
aside.logo img {
    padding: 0px 5px;
    width: 50%;
}

@media (max-width: 576px) {
    aside.logo img {
        max-width: 350px;
    }
}